.dark-input {

    padding: 0.5rem 1rem;
    border: 3px solid #333;
    background-color: #333;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.dark-input:focus {
    border: 3px solid #6c6c6c;
}

.button-start-simulation {
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    letter-spacing: 0.2rem;
    background-color: #FF9A3C;
    padding: 0.5rem 4rem;
    color: black;
    box-shadow: 0 0 0 2px #FF9A3C;
}

.button-start-simulation:hover {
    background-color: #bd6f20;
    box-shadow: 0 0 0 2px #bd6f20;
    transition: 0.3s;
}

.results {
    background-color: #1a1a1a;  /* Dark background similar to a terminal */
    color: #ffffff;  /* Bright green text for high contrast */
    font-family: 'Consolas', 'Courier New', monospace;  /* Monospaced font for terminal-like appearance */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-y: scroll;  /* Enable scrolling */
    max-height: 500px;  /* Set a fixed height */
    width: 100%;  /* Full width */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Optional: Adds shadow for depth */
}

.results::-webkit-scrollbar {
    width: 8px;
}

.results::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
}

.results::-webkit-scrollbar-track {
    background-color: #333;
}