
.languages {
    margin-left: 10rem;
    font-size: 25px;
}

.description-container {
    margin-left: 10rem;
}

.projects {
    font-size: 60px;
    font-weight: bold;
}

hr {
    margin: 0;
    padding: 0;
}

.vertical-line {
    width: 1px;
    background-color: white;
}

.projects-button {
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.projects-button:hover {
    background-color: #2c2c2c;
    /*box-shadow: white 2px 2px 2px;*/
}


.projects-button-view {
    background-color: black;
    padding: 0.5rem 2rem;
    color: #FFF;
    border: #FFF 2px solid;
}

.project-languages {
    opacity: 85%;
}