.intro {
    font-weight: 640;
    background: linear-gradient(to right, #CA8BFF, #E88364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.highlight {
    background: #E88364;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;

}

.cursor {
    animation: blink 1s infinite;
    border-right: 3px solid white;
    width: 0;
    height: 1.5rem;
    margin-left: 0.2rem;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.button {
    border: none;
    border-radius: 2rem;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 2.5rem;
}

.button-resume {
    background: #CA8BFF;
    color: black;
    box-shadow: 0 0 10px rgba(234, 128, 252, 5);
}

.button-projects {
    background-color: transparent;
    color: #E88364;
    border: 2px solid #E88364;
    box-shadow: 0 0 10px rgb(205, 125, 66);
}

.button-resume:hover {
    box-shadow: 0 0 15px rgba(202, 139, 255, 0.6);
}

.button-projects:hover {
    border-color: #cc6845;
    color: #cc6845;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }
    100% {
        opacity: 1 !important;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-out;
}

@keyframes delayFadeIn {
    0%, 50% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1 !important;
    }
}

.delayFadeIn {
    animation: delayFadeIn 2s ease-out;
}

@media screen and (max-width: 600px) {
    #home-buttons-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button-resume,
    .button-projects {
        width: 100%;
        text-align: center;
    }
}
