
.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.nav-link,
.navbar-brand {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: #fff !important;

}


.highlight {
    color: #ff9a3c;

}



.nav-index {
    color: #ff9a3c;
}

.nav-link.active .nav-index {
    color: #CA8BFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.nav-link.active {
    background: linear-gradient(to right, #CA8BFF, #E88364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: color 0.5s ;
}

.nav-divider {
    height: 30px;
    width: 2px;
    background: #aaaaaa;
    margin: 0 0.75rem;
}

@media (prefers-color-scheme: dark) {
    .nav-divider {
        background: #aaa;
    }
}


